html body .ui-datepicker {
  width: 17em !important;
  height: auto !important;
  padding: 0;
  display: none;
  z-index: 1;
}

html body .ui-datepicker table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

html body .ui-datepicker th {
  text-align: center;
  border: 0;
}

html body .ui-datepicker .ui-datepicker-prev span {
  background: transparent url("../../../img/frontend/order/svg/sprite.background.svg#arrow-left") 50% no-repeat;
  background-size: 6.34px 11px;
}

html body .ui-datepicker .ui-datepicker-next span {
  background: transparent url("../../../img/frontend/order/svg/sprite.background.svg#arrow-right") 50% no-repeat;
  background-size: 6.34px 11px;
}

html body .ui-datepicker .ui-widget-header {
  border: solid #efefef;
  border-width: 0 0 1px;
  border-radius: 0;
  background: transparent;
}

html body .ui-datepicker .ui-state-default, html body .ui-datepicker .ui-widget-content .ui-state-default, html body .ui-datepicker .ui-widget-header .ui-state-default, html body .ui-datepicker .ui-button, html body .ui-datepicker .ui-button.ui-state-disabled:hover, html body .ui-datepicker .ui-button.ui-state-disabled:active {
  border: 1px solid transparent;
  background: transparent;
  font-weight: normal;
  text-align: center;
}

html body .ui-datepicker .ui-state-active, html body .ui-datepicker .ui-widget-content .ui-state-active, html body .ui-datepicker .ui-widget-header .ui-state-active, html body .ui-datepicker a.ui-button:active, html body .ui-datepicker .ui-button:active, html body .ui-datepicker .ui-button.ui-state-active:hover {
  border: 1px solid transparent;
  background: transparent;
}

body.is-scroll-locked {
  overflow: hidden;
}

.wa-order-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 2000;
}

.wa-order-dialog.is-locked .wa-dialog-body:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.wa-order-dialog .wa-dialog-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.wa-order-dialog .wa-dialog-body {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: #fff;
  width: 660px;
  max-width: calc(100% - 30px);
}

.wa-order-dialog .wa-dialog-body.is-animated {
  transition: all 200ms linear;
}

.wa-order-dialog .wa-dialog-body form {
  overflow: visible;
}

.wa-order-dialog .wa-dialog-body.is-tall .wa-dialog-content, .wa-order-dialog .wa-dialog-body.with-full-height .wa-dialog-content {
  max-height: none;
}

.wa-order-dialog .wa-dialog-body.is-tall .wa-dialog-footer, .wa-order-dialog .wa-dialog-body.with-tall-content .wa-dialog-footer, .wa-order-dialog .wa-dialog-body.with-footer .wa-dialog-footer {
  padding: 20px;
  border-top: 1px solid #efefef;
}

.wa-order-dialog .wa-dialog-body.with-footer .wa-dialog-content {
  padding-bottom: 20px;
}

.wa-order-dialog .wa-dialog-body.without-footer .wa-dialog-content {
  padding-bottom: 40px;
}

.wa-order-dialog .wa-dialog-body .wa-dialog-header {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccd0d4;
}

.wa-order-dialog .wa-dialog-body .wa-dialog-header > * {
  display: table-cell;
  vertical-align: top;
}

.wa-order-dialog .wa-dialog-body .wa-dialog-header .wa-close-wrapper {
  width: 10px;
  padding: 0 20px;
  color: #888;
  cursor: pointer;
  line-height: 24px;
  transition: color 200ms linear;
}

.wa-order-dialog .wa-dialog-body .wa-dialog-content {
  padding: 20px 20px 0;
  max-height: 482px;
  overflow: auto;
  box-sizing: border-box;
}

.wa-order-dialog .wa-dialog-body .wa-dialog-footer {
  padding: 20px 20px 40px 20px;
}

.wa-order-dialog .wa-dialog-body .wa-dialog-footer .wa-button {
  margin-right: 1rem;
}

.wa-order-dialog .wa-dialog-body .wa-dialog-footer .wa-button:last-child {
  margin-right: 0;
}

.wa-order-dialog.wa-auth-dialog-wrapper .wa-dialog-body {
  width: 535px;
}

.wa-order-dialog.wa-auth-dialog-wrapper .wa-dialog-body .wa-login-form-wrapper .wa-login-form-actions {
  margin-top: 20px;
}

@media screen and (max-width: 760px) {
  .wa-order-dialog.wa-auth-dialog-wrapper .wa-dialog-body input:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]) {
    width: 100%;
    margin-right: 0;
  }
}

html {
  scroll-behavior: smooth;
}


.wa-line:first-child {
  margin-top: 0;
}

@media screen and (max-width: 760px) {
  .wa-fields-group > .wa-field-wrapper {
    width: 100%;
  }

  .wa-fields-group > .wa-field-wrapper:first-child {
    margin-top: 0;
  }

  .wa-fields-group > .wa-field-wrapper.size-small, .wa-fields-group > .wa-field-wrapper.size-medium, .wa-fields-group > .wa-field-wrapper.size-large, .wa-fields-group > .wa-field-wrapper.full-line {
    width: 100%;
  }
}

@media screen and (min-width: 761px) {

  .wa-fields-group.line:before {
    content: "";
    display: block;
    height: 0;
  }

  .wa-fields-group.line > .wa-field-wrapper {
    box-sizing: border-box;
  }

  .wa-fields-group.fixed {
    display: flex;
  }

  .wa-fields-group.fixed > .wa-field-wrapper {
    flex: 1 1 100%;
  }
}

.wa-field-wrapper {
  display: inline-block;
  vertical-align: top;
}

.wa-field-wrapper.is-agreement-field .wa-checkbox-wrapper {
  color: #ccd0d4;
}

.wa-field-wrapper.size-large, .wa-field-wrapper.full-line {
  display: block;
}

.wa-field-wrapper .wa-required:before {
  content: "*";
  display: inline-block;
}

.wa-field-wrapper .wa-label {
  display: block;
  white-space: nowrap;
}

.wa-field-wrapper .wa-input {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.wa-field-wrapper .wa-select {
  display: block;
  width: 100%;
  max-width: 100%;
}

.wa-field-wrapper .wa-select option[disabled] {
  color: #aaa;
  background: #f0f0f0;
  font-weight: normal;
}

.wa-field-wrapper .wa-textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  font-family: inherit;
}

.wa-input, .wa-textarea {
  transition: border-color 200ms linear;
  outline: 0;
}

.wa-input.wa-error, .wa-textarea.wa-error {
  border-color: #d8315b;
}

.wa-input::-webkit-input-placeholder, .wa-textarea::-webkit-input-placeholder {
  color: #ccd0d4;
}

.wa-input:-moz-placeholder, .wa-textarea:-moz-placeholder {
  color: #ccd0d4;
}

.wa-input::-moz-placeholder, .wa-textarea::-moz-placeholder {
  color: #ccd0d4;
}

.wa-input:-ms-input-placeholder, .wa-textarea:-ms-input-placeholder {
  color: #ccd0d4;
}

.wa-table-box {
  display: table;
  box-sizing: border-box;
}

.wa-table-box:not(.inline) {
  width: 100%;
}

.wa-table-box.fixed {
  table-layout: fixed;
}

.wa-table-box > * {
  display: table-cell;
  vertical-align: top;
}

.wa-table-box > *.center {
  text-align: center;
}

.wa-table-box > *.right {
  text-align: right;
}

.wa-table-box > *.middle {
  vertical-align: middle;
}

button.wa-button, input.wa-button {
  display: inline-block;
  outline: 0;
  appearance: none;
}

button.wa-button.transparent, input.wa-button.transparent {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  transition: color 200ms linear;
}

button.wa-button.is-large, input.wa-button.is-large {
  white-space: nowrap;
}

.wa-error-text {
  color: #d8315b;
  min-width: 120px;
}

.wa-error-text:first-child {
  margin-top: 0;
}


select.wa-select.wa-error, input.wa-input.wa-error {
  border-color: #d8315b;
  color: #d8315b;
}

select {
  max-width: 100%;
}

select.wa-select {
  background: #fff;
}

.wa-quantity-cart-section {
  position: relative;
  white-space: nowrap;
  margin-top: 6px;
}

.wa-quantity-cart-section .wa-error-text {
  white-space: normal;
  font-size: 12px;
  line-height: 14px;
}

.wa-quantity-cart-section .wa-field-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 0;
  padding: 0;
  margin: 0 4px;
  background: #fff;
}

.wa-quantity-cart-section .wa-field-wrapper .wa-field {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccd0d4;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: right;
}

.wa-quantity-cart-section .wa-field-wrapper .wa-unit {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 1px);
  display: block;
}

.wa-quantity-cart-section .wa-field-wrapper .wa-unit.top {
  top: auto;
  bottom: calc(100% + 2px);
}

.wa-quantity-cart-section .wa-button-wrapper {
  display: inline-block;
  vertical-align: bottom;
}

.wa-quantity-cart-section .wa-button-wrapper .wa-button {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 32px;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  border-color: transparent;
}

.wa-quantity-cart-section .wa-button-wrapper .wa-button:not(.is-locked) .wa-text {
  display: none;
}

.wa-quantity-cart-section .wa-button-wrapper .wa-button.is-near-limit .wa-icon-wrapper, .wa-quantity-cart-section .wa-button-wrapper .wa-button.is-locked .wa-icon-wrapper {
  display: none;
}

.wa-quantity-cart-section .wa-button-wrapper .wa-button .wa-description {
  display: block;
}

.wa-quantity-cart-section .wa-button-wrapper .wa-button .wa-description .wa-step {
  display: block;
}

.wa-quantity-box {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  justify-items: center;
  user-select: none;
}

.wa-quantity-box .wa-button {
  position: relative;
  display: flex;
  align-items: center;
  transition: color 200ms linear;
}

.wa-quantity-box .wa-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity 200ms linear;
  transform: translate(-50%, -50%);
}

.wa-quantity-box .wa-button > * {
  position: relative;
  line-height: 0;
}

.wa-quantity-box .wa-button:not(.is-disabled) {
  cursor: pointer;
}

html:not(.with-touch) .wa-quantity-box .wa-button:not(.is-disabled):hover:before {
  opacity: 1;
  filter: none;
}

.wa-quantity-box .wa-button.is-disabled {
  cursor: default;
}

.wa-quantity-box .wa-button.is-disabled .wa-icon {
  opacity: .3;
  filter: alpha(opacity=30);
}

.wa-quantity-box .wa-input {
  width: 56px;
  height: auto;
  box-sizing: border-box;
  text-align: center;
}

.wa-icon {
  display: inline-block;
  vertical-align: baseline;
  background: transparent 50% no-repeat;
  background-size: contain;
}

.wa-icon svg {
  width: 100%;
  height: 100%;
}

.wa-icon.size-6 {
  width: 6px;
  height: 6px;
}

.wa-icon.size-7 {
  width: 7px;
  height: 7px;
}

.wa-icon.size-8 {
  width: 8px;
  height: 8px;
}

.wa-icon.size-9 {
  width: 9px;
  height: 9px;
}

.wa-icon.size-10 {
  width: 10px;
  height: 10px;
}

.wa-icon.size-11 {
  width: 11px;
  height: 11px;
}

.wa-icon.size-12 {
  width: 12px;
  height: 12px;
}

.wa-icon.size-13 {
  width: 13px;
  height: 13px;
}

.wa-icon.size-14 {
  width: 14px;
  height: 14px;
}

.wa-icon.size-15 {
  width: 15px;
  height: 15px;
}

.wa-icon.size-16 {
  width: 16px;
  height: 16px;
}

.wa-icon.size-17 {
  width: 17px;
  height: 17px;
}

.wa-icon.size-18 {
  width: 18px;
  height: 18px;
}

.wa-icon.size-19 {
  width: 19px;
  height: 19px;
}

.wa-icon.size-20 {
  width: 20px;
  height: 20px;
}

.wa-icon.size-24 {
  width: 24px;
  height: 24px;
}

.wa-icon.size-36 {
  width: 36px;
  height: 36px;
}

.wa-icon.size-48 {
  width: 48px;
  height: 48px;
}

.wa-tooltip {
  position: relative;
  display: inline-block;
}

.wa-tooltip .wa-tooltip-icon {
  display: inline-block;
  background: #888;
  color: #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  text-align: center;
  transition: background 200ms linear;
}

.wa-tooltip:not(.left):not(.top):not(.bottom).custom .tooltip-text, .wa-tooltip.right.custom .tooltip-text, .wa-tooltip:not(.left):not(.top):not(.bottom):not(.custom):after, .wa-tooltip.right:not(.custom):after {
  top: 50%;
  left: 100%;
  transform: translate(8px, -50%);
}

.wa-tooltip:not(.left):not(.top):not(.bottom):not(.custom):before, .wa-tooltip.right:not(.custom):before {
  top: 50%;
  left: 100%;
  margin-left: -12px;
  border-right-color: #333;
  transform: translate(8px, -50%);
}

.wa-tooltip.left.custom .tooltip-text, .wa-tooltip.left:not(.custom):after {
  top: 50%;
  right: 100%;
  transform: translate(-8px, -50%);
}

.wa-tooltip.left:not(.custom):before {
  top: 50%;
  right: 100%;
  margin-right: -12px;
  border-left-color: #333;
  transform: translate(-8px, -50%);
}

.wa-tooltip.top.custom .tooltip-text, .wa-tooltip.top:not(.custom):after {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -8px);
}

.wa-tooltip.top:not(.custom):before {
  bottom: 100%;
  left: 50%;
  margin-bottom: -12px;
  border-top-color: #333;
  transform: translate(-50%, -8px);
}

.wa-tooltip.bottom.custom .tooltip-text, .wa-tooltip.bottom:not(.custom):after {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 8px);
}

.wa-tooltip.bottom:not(.custom):before {
  top: 100%;
  left: 50%;
  margin-top: -12px;
  border-bottom-color: #333;
  transform: translate(-50%, 8px);
}

html.with-touch .wa-tooltip:not(.custom):before, html.with-touch .wa-tooltip:not(.custom):after {
  display: none;
}

html:not(.with-touch) .wa-tooltip:not(.custom):not(.css-hover-disabled):hover:before, .wa-tooltip:not(.custom).is-hover:before, .wa-tooltip:not(.custom).is-opened:before, html:not(.with-touch) .wa-tooltip:not(.custom):not(.css-hover-disabled):hover:after, .wa-tooltip:not(.custom).is-hover:after, .wa-tooltip:not(.custom).is-opened:after {
  display: block;
  visibility: visible;
  opacity: 1;
  filter: none;
}

.wa-tooltip:not(.custom):before {
  content: "";
  visibility: hidden;
  display: block;
  position: absolute;
  border: 6px solid transparent;
  z-index: 9999;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);
}

.wa-tooltip:not(.custom):after {
  content: attr(data-title);
  visibility: hidden;
  display: block;
  position: absolute;
  text-align: left;
  cursor: default;
  width: 200px;
  background: #333;
  color: #fff;
  word-break: break-word;
  z-index: 9999;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);
}

.wa-tooltip:not(.custom).is-inline:after {
  width: auto;
  white-space: nowrap;
}

html:not(.with-touch) .wa-tooltip.custom:not(.css-hover-disabled):hover .wa-tooltip-text, .wa-tooltip.custom.is-hover .wa-tooltip-text, .wa-tooltip.custom.is-opened .wa-tooltip-text {
  visibility: visible;
  opacity: 1;
  filter: none;
}

.wa-tooltip.custom .wa-tooltip-text {
  visibility: hidden;
  display: block;
  position: absolute;
  padding: 5px 7px;
  text-align: left;
  cursor: default;
  width: 200px;
  background: #333;
  color: #fff;
  word-break: break-word;
  z-index: 9999;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);
}

.wa-dropdown {
  position: relative;
}

.wa-dropdown:not(.full-line) {
  display: inline-block;
  max-width: 200px;
}

.wa-dropdown:not(.full-line) > .wa-dropdown-toggle {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wa-dropdown:not(.full-line) > .wa-dropdown-area {
  width: 200px;
  min-width: 100%;
  max-width: 400px;
}

.wa-dropdown.full-line {
  display: block;
  word-break: break-word;
}

.wa-dropdown.full-line > .wa-dropdown-toggle {
  display: block;
}

.wa-dropdown.full-line > .wa-dropdown-area {
  width: 100%;
}

.wa-dropdown.wa-error > .wa-dropdown-toggle {
  border-color: #d8315b;
}

.wa-dropdown.is-locked > .wa-dropdown-toggle {
  background: #eee;
  color: #aaa;
  cursor: default;
}

.wa-dropdown.is-locked > .wa-dropdown-toggle:after {
  border-color: #aaa;
}

.wa-dropdown > .wa-dropdown-toggle {
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color 200ms linear;
}

.wa-dropdown > .wa-dropdown-toggle:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  display: block;
  width: 6px;
  height: 6px;
  transform: translate(50%, -75%) rotate(45deg);
}

.wa-dropdown > .wa-dropdown-area {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  min-width: 100%;
  max-width: 500px;
  max-height: 500px;
  overflow: auto;
  padding: 0;
  margin: 0;
  background: #fff;
  border-radius: 3px;
  transform: translate(0, 5px);
  box-sizing: border-box;
  transition: border-color 200ms linear;
}

.wa-dropdown > .wa-dropdown-area.right {
  left: auto;
  right: 0;
}

.wa-dropdown > .wa-dropdown-area > *:first-child {
  margin-top: 0;
}

.wa-dropdown > .wa-dropdown-area > *:last-child {
  margin-bottom: 0;
}

.wa-dropdown > .wa-dropdown-area > .wa-dropdown-item {
  display: block;
  margin: 0;
  color: inherit;
  cursor: pointer;
  transition: 200ms linear;
}

.wa-dropdown > .wa-dropdown-area > .wa-dropdown-item:first-child {
  border-top: 0;
}

.wa-dropdown > .wa-dropdown-area > .wa-dropdown-item.is-selected {
  cursor: default;
  font-weight: bold;
}

.wa-dropdown.is-opened:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background: transparent;
}

.wa-dropdown.is-opened > .wa-dropdown-area {
  display: block;
  z-index: 1000;
}

.wa-toggle {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 0;
  white-space: nowrap;
  max-width: 100%;
  overflow: auto;
}

.wa-toggle > * {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 -1px;
  padding: .35714285714285715em .7142857142857143em .2857142857142857em;
  list-style: none;
  outline: none;
  cursor: pointer;
}

.wa-toggle > *:first-child {
  margin-left: 0;
  border-radius: 3px 0 0 3px;
}

.wa-toggle > *:last-child {
  border-radius: 0 3px 3px 0;
}

.wa-toggle > *.selected {
  position: relative;
  border-color: rgba(0, 128, 255, 0.2);
  cursor: default;
}