.add2cart {
  padding: 20px 0;
  & .add-form-wrapper {
    & .quantity-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      margin: 10px 0;
      background: var(--primary);
      border-radius: 10px;
      width: 270px;
      max-width: 270px;
      & .volume-buttons {
        width: 25px;
        max-width: 25px;
        & .plus-link, & .minus-link {
          background: var(--primary);
          color: var(--white);
          height: 55px;
          width: 25px;
          max-width: 25px;
          border: none;
          outline: none;
          border-radius: 10px;
          &:hover {
            background: var(--dark);
          }
        }
      }
      & .product-quantity-field {
        width: 96px;
        max-width: 96px;
        margin: 0 2px;
        height: 51px;
        text-align: center;
        border-radius: 2px;
        border: none;
        outline: none;
      }
    }
  }
  & .submit-wrapper {
    & .product-card__btn {
      width: 270px;
      height: 55px;
    }
  }
}