.s-delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: var(--dark);
  font-size: 1.3rem;
  letter-spacing: 1px;
  background-color: var(--light-grey);
  border: none;
  border-radius: 8px;
  outline: 0;
}

.s-delete-icon {
  margin-right: 20px;

  & svg {
    width: 15px;
    height: 15px;
  }
}