.copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  background: var(--dark);
  color: var(--white);
  text-transform: uppercase;
  font-family: 'Mulish', Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 0 10px;
}

@media (min-width: 375px) {
  .copyright {
    padding: 0 15px;
  }
}

@media(min-width: 640px) {
  .copyright {
    padding: 0 20px;
  }
}

@media(min-width: 768px) {
  .copyright {
    padding: 0 25px;
  }
}

@media(min-width: 1024px) {
  .copyright {
    padding: 0 30px;
  }
}

@media (min-width: 1280px) {
  .copyright {
    padding: 0 40px;
  }
}