.delivery {

  &__descr {
    margin-bottom: 12px;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  &__subtitle {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__advantages {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__company-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.delivery-advantage {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &__icon {
    display: block;
    width: 80px;
    height: 65px;
  }

  &__descr {
    margin-left: 20px;
    width: 175px;
    font-weight: 700;
  }
}

.payment {

  &__descr {
    margin-bottom: 12px;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  &__list {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.payment-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &__icon {
    display: block;
    width: 80px;
    height: 65px;
  }

  &__descr {
    margin-left: 20px;
    width: 175px;
    font-weight: 700;
  }
}

@media (min-width: 375px) {
  .delivery-advantage {

    &__descr {
      margin-left: 30px;
    }
  }

  .payment-item {

    &__descr {
      margin-left: 30px;
    }
  }
}

@media (min-width: 425px) {
  .delivery-advantage {

    &__descr {
      width: 210px;
    }
  }

  .payment-item {

    &__descr {
      width: 210px;
    }
  }
}

@media (min-width: 640px) {
  .delivery {

    &__advantages {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px 10px;
    }

    &__company-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .delivery-advantage {
    margin-bottom: 0;
    justify-content: center;

    &__descr {
      width: 175px;
    }
  }

  .payment {

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px 10px;
    }
  }

  .payment-item {
    margin-bottom: 0;
    justify-content: center;

    &__descr {
      width: 175px;
    }
  }
}

@media (min-width: 768px) {
  .delivery {

    &__subtitle {
      margin: 3rem 0 2.5rem 0;
    }
  }
  .delivery-advantage {

    &__icon {
      width: 105px;
      height: 90px;
    }
  }

  .payment-item {

    &__icon {
      width: 105px;
      height: 90px;
    }
  }
}

@media (min-width: 1024px) {
  .delivery {

    &__descr {
      width: 95%;
      font-size: 1.1rem;
    }

    &__advantages {
      margin: 70px auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }

    &__company-list {
      display: flex;
    }

    &__company {
      width: 230px;
    }
  }

  .delivery-advantage {

    &__descr {
      width: 220px;
      margin-left: 20px;
      text-align: center;
      letter-spacing: 1px;

      &--pickup {
        position: relative;
        width: 315px;
      }
    }
  }

  .payment {

    &__descr {
      width: 95%;
      font-size: 1.1rem;
    }

    &__list {
      margin: 70px auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  .payment-item {

    &__descr {
      margin-left: 20px;
      text-align: center;
      letter-spacing: 1px;
    }
  }
}

@media (min-width: 1440px) {
  .delivery {

    &__descr {
      font-size: 1.2rem;
    }

    &__subtitle {
      margin: 4rem 0 2.5rem 0;
    }

    &__advantages {
      margin: 80px auto;
      grid-gap: 30px;
    }

    &__company {
      margin-right: 10px;
      width: 260px;
    }
  }

  .delivery-advantage {

    &__icon {
      width: 125px;
      height: 110px;
    }

    &__descr {
      font-size: 1rem;

      &--pickup {
        width: 360px;
      }
    }
  }

  .payment {

    &__list {
      margin: 80px auto;
      grid-gap: 30px;
    }

    &__descr {
      font-size: 1.2rem;
    }
  }

  .payment-item {

    &__icon {
      width: 125px;
      height: 110px;
    }

    &__descr {
      width: 260px;
      font-size: 1rem;
    }
  }
}

@media (min-width: 1680px) {
  .delivery {

    &__subtitle {
      font-size: 1.4rem;
    }

    &__descr {
      margin-bottom: 15px;
      font-size: 1.3rem;
    }

    &__advantages {
      margin: 100px auto;
      grid-gap: 70px;
    }

    &__company {
      margin-right: 15px;
      width: 280px;
    }
  }

  .delivery-advantage {


    &__icon {
      width: 145px;
      height: 130px;
    }

    &__descr {
      margin-left: 30px;
      width: 300px;
      font-size: 1.2rem;

      &--pickup {
        width: 420px;
      }
    }
  }

  .payment {

    &__list {
      margin: 100px auto;
    }
  }

  .payment-item {

    &__icon {
      width: 145px;
      height: 130px;
    }

    &__descr {
      margin-left: 30px;
      width: 300px;
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 1920px) {
  .delivery-advantage {

    &__icon {
      width: 145px;
      height: 130px;
    }
  }

  .payment-item {

    &__icon {
      width: 145px;
      height: 130px;
    }
  }
}