.header-desktop {
  display: none;
}

.search-hint {
  display: none;
}

.header-mobile {
  margin: 10px 0;

  &__location-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  & a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

.location {
  font-size: 1.3rem;
  padding-left: 25px;
  background: url("../img/svg/icons.svg#location") no-repeat;
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 0% 40%;
  & > .b-cityselect__wrapper--header {
    margin: 0;
    padding: 0;
  }
}

.search {
  margin-top: 1rem;

  &__input-wrapper {
    display: flex;
    height: 45px;
    border-radius: 8px;
    background-color: var(--primary);
  }

  &__input {
    padding: 0 15px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 8px;
    outline: none;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    border-left: 2px solid var(--primary);
    border-right: 2px solid var(--primary);

    &:focus {
      outline: none;
    }
  }

  &__btn {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 0 8px 8px 0;
    border: none;
    cursor: pointer;
  }

  &__btn-icon {
    width: 23px;
    height: 23px;
  }
}

@media (min-width: 375px) {
  .header-mobile {
    margin: 15px 0 30px 0;
  }
}

@media (min-width: 640px) {
  .header-mobile {
    position: relative;
    margin: 20px 0 40px 0;

    &__location-wrapper {
      flex-direction: column;
      align-items: baseline;
    }
  }

  .search {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 85%;

    &__input {
      font-size: 1.1rem;
    }
  }

  .location {
    margin-bottom: 12px;
    padding-left: 23px;
    background-size: 19px;
  }
}

//header desktop
@media (min-width: 768px) {
  .header-mobile {
    display: none;
  }

  .location {
    font-size: 1.1rem;
    padding-left: 20px;
    background-size: 17px;
    background-position: 0% 50%;
  }

  .header-desktop {
    display: block;
    margin: 20px 0 60px 0;

    &__location-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__container {
      display: flex;
      align-items: center;
    }

    &__category-btn-wrapper {
      display: flex;
      align-items: center;
    }

    &__category-btn {
      margin: 0 10px;
      padding: 3px 8px 0 8px;
      width: 100px;
      height: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      font-size: 0.8rem;
      color: var(--white);
      background-color: var(--primary);
      border-radius: 8px;
      cursor: pointer;
    }

    &__hamburger-icon {
      display: inline-block;
      width: 23px;
      height: 23px;
    }
  }

  .header-desktop-navigation {

    &__list {
      display: flex;
      padding: 0;
    }

    &__item {
      font-size: 1.1rem;
      transition: .2s;

      &:hover {
        @include hover-link;
      }
    }

    &__item:not(:first-child) {
      margin-left: 20px;
    }
  }

  .search {
    position: static;
    margin-top: 0;
    width: auto;
    flex: 2;

    &__input {
      font-size: 1rem;
      border-top: 2px solid var(--primary);
      border-bottom: 2px solid var(--primary);
    }
  }
}

@media (min-width: 1024px) {
  .header-desktop {
    &__location-wrapper {
      margin-bottom: 5px;
    }

    .location {
      padding-left: 23px;
      background-size: 19px;
    }

    &__category-btn {
      padding: 0 11px;
      width: 120px;
      height: 50px;
      font-size: 0.9rem;
      transition: .2s;

      &:hover {
        @include hover-btn;
      }
    }
  }
  .search {

    &__btn {
      width: 70px;
    }

    &__input-wrapper {
      height: 50px;
    }

    &__btn-icon {
      transition: .1s;

      &:hover {
        scale: 1.1;
      }

      &:active {
        scale: 1;
      }
    }
  }
}

@media (min-width: 1080px) {
  .header-desktop {

    &__category-btn {
      padding: 0 15px;
      width: 130px;
    }
  }

  .logo {
    width: 110px;
    height: 50px;
  }
}

@media (min-width: 1280px) {
  .header-desktop {
    &__category-btn {
      padding: 0px 17px;
      width: 150px;
      height: 55px;
      font-size: 1rem;
    }

    &__hamburger-icon {
      width: 29px;
      height: 29px;
    }
  }

  .search {

    &__input-wrapper {
      height: 55px;
      border-radius: 12px;
    }

    &__input {
      padding: 0 20px;
      font-size: 1.2rem;
      border-radius: 10px;
    }

    &__btn {
      width: 90px;
    }

    &__btn-icon {
      width: 27px;
      height: 27px;
    }
  }

  .header-desktop-navigation {

    &__item:not(:first-child) {
      margin-left: 30px;
    }
  }

  .logo {
    width: 130px;
    height: 55px;
  }
}

@media (min-width: 1440px) {
  .header-desktop {
    &__category-btn {
      margin: 0 15px;
      padding: 0px 30px;
      width: 180px;
    }

    &__location-wrapper {
      margin-bottom: 10px;
    }
  }
  .search {

    &__input {
      border: 3px solid var(--primary);
    }

    &__btn {
      width: 100px;
    }
  }

  .header-desktop-navigation {

    &__item:not(:first-child) {
      margin-left: 40px;
    }
  }
}

@media (min-width: 1680px) {
  .header-desktop {
    &__category-btn {
      padding: 0px 35px;
      width: 200px;
      height: 60px;
      font-size: 1.1rem;
    }
  }
  .search {

    &__input-wrapper {
      height: 60px;
    }
  }

  .logo {
    width: 170px;
  }

  .location {
    font-size: 1.2rem;
  }

  .header-desktop-navigation {

    &__item {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 1920px) {
  .header-desktop {
    &__category-btn {
      height: 65px;
      padding: 0 30px;
      font-size: 1.2rem;
    }

    &__hamburger-icon {
      width: 35px;
      height: 35px;
    }
  }

  .search {

    &__input-wrapper {
      height: 65px;
    }
  }
}

@media (min-width: 2100px) {
  .header-desktop {
    max-width: 2000px;
  }
}

//mobile-user-panel
.mobile-user-panel {
  position: fixed;
  z-index: 1;
  bottom: 5px;
  left: 10px;
  right: 10px;
  background-color: var(--white);


  &__wrapper {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1px 8px 0px #2C302E30;
  }

  &__category-btn {
    margin-left: calc(100% / 15);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--primary);

    & svg {
      width: 28px;
      height: 28px;
    }
  }
}

.user-panel {
  margin-top: 5px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex: 1;
  list-style: none;

  & a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--dark);
    &:hover {
      @include hover-link;
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
  }

  &__title {
    margin-top: 2px;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

@media (min-width: 375px) {
  .mobile-user-panel {
    left: 15px;
    right: 15px;

    &__wrapper {
      padding: 10px 20px;
    }

    &__category-btn {
      margin-left: calc(100% / 13);
    }
  }
}

@media (min-width: 425px) {
  .mobile-user-panel {

    &__wrapper {
      padding: 10px 30px;
    }

    &__category-btn {
      margin-left: calc(100% / 9);
    }
  }
}

@media (min-width: 640px) {
  .mobile-user-panel {
    left: 20px;
    right: 20px;

    &__wrapper {
      padding: 10px 60px;
    }

    &__category-btn {
      width: 48px;
      height: 48px;
      margin-left: calc(100% / 8);

      & svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .user-panel {

    &__icon {
      width: 33px;
      height: 33px;
    }
  }
}

@media (min-width: 768px) {
  .mobile-user-panel {
    display: none;
  }

  .user-panel {
    margin-left: 15px;

    & li:not(:first-child) {
      margin-left: 10px;
    }

    &__icon {
      width: 28px;
      height: 28px;
    }
  }
}

@media (min-width: 1024px) {
  .user-panel {
    margin-left: 25px;
  }
}

@media (min-width: 1280px) {
  .user-panel {
    margin-left: 30px;

    &__title {
      font-size: 0.9rem;
    }

    &__icon {
      width: 35px;
      height: 35px;
    }
  }
}

@media (min-width: 1440px) {
  .user-panel {
    max-width: 400px;
  }
}

@media (min-width: 1680px) {
  .user-panel {
    margin-left: 40px;

    &__icon {
      width: 40px;
      height: 40px;
    }
  }
}

//mobile-category
.mobile-category {
  display: none;
  padding: 15px 20px;
  position: fixed;
  bottom: 70px;
  right: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 8px 0px #2C302E30;

  &__item {
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #2C302E;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    & img {
      margin-right: 10px;
      width: 20px;
      height: 20px;
      color: var(--primary);
    }
  }

  &--active {
    display: block;
  }
}

@media (min-width: 375px) {
  .mobile-category {
    right: 15px;
  }
}

@media (min-width: 640px) {
  .mobile-category {
    right: 20px;
    bottom: 80px;
  }
}

@media (min-width: 768px) {
  .mobile-category {
    display: none;
  }
}