.product {
  display: grid;
  grid-template-areas:
            "product-breadcrumbs"
            "product-title"
            "product-fastlinks"
            "product-images"
            "product-cart"
            "product-description"
            "product-recomends";
  grid-template-columns: 100%;
  grid-gap: 20px;
  @media (min-width: 1024px) {
    grid-template-areas:
            "product-breadcrumbs product-breadcrumbs product-breadcrumbs"
            "product-title product-title product-title"
            "product-fastlinks product-fastlinks product-fastlinks"
            "product-images product-images product-cart"
            "product-description product-description product-recomends";
    grid-template-columns: 40vw 1fr 40vw;
  }

  &-breadcrumbs {
    grid-area: product-breadcrumbs;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0;
    & ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      align-content: center;
      gap: 20px;
      & li {
        display: list-item;
        padding-left: 20px;
        &:first-of-type {
          padding: 0;
        }
        &::marker {
          content: url(../img/svg/icons.svg#arrow-right);
          color: var(--dark);
        }
        &:nth-child(1)::marker {
          content: '';
        }
      }
    }
  }
  &-fastlinks {
    grid-area: product-fastlinks;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    & .reviews-link {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      & .stars {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        & .star {
          & svg {
            &.star-full {
              color: var(--secondary);
            }
            &.star-empty {
              color: var(--light-grey);
            }
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
  &-title {
    grid-area: product-title;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    margin: 2.5rem 0 0 0;
    @media (min-width: 1024px) {
      font-size: 32px;
    }
    @media (min-width: 1680px) {
      font-size: 42px;
    }
  }
  &-images {
    grid-area: product-images;
    & figure {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      @media (min-width: 768px) {
        flex-direction: row-reverse;
        align-items: flex-start;
      }
      & .s-photos-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        & .s-photo-thumb {
          & img {
            width: 48px;
            @media (min-width: 1024px) {
              width: 64px;
            }
            @media (min-width: 1680px) {
              width: 92px;
            }
          }
        }
        @media (min-width: 768px) {
          flex-direction: column;
        }
      }
    }
  }
  &-cart {
    grid-area: product-cart;
  }
  &-description {
    grid-area: product-description;
    & h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 1px;
    }
  }
  &-recomends {
    grid-area: product-recomends;
  }
}
