.promo {
  padding: 20px;
  height: 175px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 15px;

  &__title {
    margin: 5px 0 0 0;
    max-width: 55%;
    font-size: 1.3rem;
    line-height: 1.1rem;
    font-weight: 700;
  }

  &__description {
    max-width: 60%;
    margin-top: 8px;
    font-size: 0.8rem;
    line-height: 0.7rem;
    font-weight: bold;
  }

  &__btn {
    margin-top: 10px;
    display: block;
    height: 30px;
    width: 90px;
    font-size: 0.9rem;
    text-align: center;
    line-height: 28px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 25px;
  }
}

@media(min-width: 375px) {
  .promo {

    &__description {
      line-height: 0.8rem;
    }

    &__btn {
      margin-top: 15px;
    }
  }
}

@media(min-width: 425px) {
  .promo {
    padding: 20px 25px;
  }
}