.services {
  padding: 20px 0;
}
.service-list-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.service-item {
  color: var(--dark);
  & input {
    margin: 0 5px 0 0;
    padding: 0;
  }
  & label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }
}