@charset "UTF-8";

:root {
  --primary: #d8315b;
  --secondary: #ffe044;
  --ternary: #88ff80;
  --light-secondary: #fffb6c;
  --light-ternary: #a4ff9e;
  --dark: #2c302e;
  --white: #ffffff;
  --light-grey: #e1e4e8;
  --dark-grey: #ccd0d4;
}

/* Подключение шрифтов */

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Bold.woff2") format("woff2"), url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Black.woff2") format("woff2"), url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Light.woff2") format("woff2"), url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Regular.woff2") format("woff2"), url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Medium.woff2") format("woff2"), url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-VariableFont_wght.woff2") format("woff2"), url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Thin.woff2") format("woff2"), url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("https://test.aoc-gaming.ru/wa-data/public/site/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Общий сброс стилей браузера */

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Переменные цвета, градиенты, контейнеры, кнопки */

html,
body {
  min-width: 100vw;
  width: 100%;
  max-width: 100vw;
  font-family: "Montserrat", sans-serif, Arial;
  font-size: 14px;
  color: var(--dark);
  overflow-x: hidden;
}

body {
  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  letter-spacing: 1px;
  line-height: 1.3;
  font-weight: 500;
  margin: 3rem 0 1.5rem 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

/* Блоки хлебные крошки, галереи, отзывы и т.д. */

header {
  background: var(--light-grey);
}

footer {
  background: var(--dark-grey);
}

/* Блоки блога */

/* Блоки магазина */

/* Стили плагинов */

/* Сброс стилей вебасиста */

@media (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 5rem 0 2.5rem 0;
    letter-spacing: 2px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.125rem;
  }
}