.button {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 8px;
  border:none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1px;
  outline: 0;
  padding: 0 10px;
  &:disabled {
    background: var(--dark-grey);
    color: var(--dark);
    cursor: not-allowed;
    &:hover, &:focus{
      background: var(--dark-grey);
      color: var(--dark);
    }
  }
  &:hover {
    @include hover-btn;
  }
}

@media (min-width: 375px) {
  .button {
    font-size: 1.3rem;
    padding: 0 15px;
  }
}