.error {
  color: var(--error);
}

.is-success {
  margin: 20px 0;
  padding: 10px 0;
  color: #63BC5D;
  background-color: #88ff8030;
  border-radius: 10px;
  text-align: center;
}

@media(min-width: 768px) {
  .is-success {
    width: 500px;
    padding: 15px 0;
    font-size: 1.1rem;
  }
}