html,
body {
  font-family: 'Mulish', Mulish, Arial;
  font-size: 12px;
  font-weight: 600;
  color: var(--dark);
  overflow-x: hidden;
  box-sizing: border-box;
  cursor: default;
}

a, input, button, textarea, address {
  transition: .1s;
  cursor: pointer;
}

input::placeholder {
    color: #CCD0D4;
}

textarea::placeholder {
  color: #CCD0D4;
}

body {
  background: var(--white);
}

@media(min-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media(min-width: 1024px) {
  html {
    font-size: 16px;
  }
}