html,
body {
  min-width: 100vw;
  width: 100%;
  max-width: 100vw;
  font-family: 'Mulish', Mulish, Arial;
  font-size: 14px;
  color: var(--dark);
  overflow-x: hidden;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  background: var(--white);
}