html,
body {
  font-family: 'Mulish', Arial;
  font-size: 14px;
  font-weight: 600;
  color: var(--dark);
  overflow-x: hidden;
  box-sizing: border-box;
  cursor: default;
}

a, input, button, textarea, address {
  transition: .1s;
  cursor: pointer;
}

input::placeholder {
    color: #CCD0D4;
}

textarea::placeholder {
  color: #CCD0D4;
}

body {
  background: var(--white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  margin: 0 10px;
}

.hint {
  display: block;
  padding: 10px 0;
  color: var(--dark-grey);
}

.is-hidden {
  display: none;
}

@media (min-width: 375px) {
  .wrapper {
    margin: 0 15px;
  }
}

@media(min-width: 640px) {
  .wrapper {
    margin: 0 20px;
  }
}

@media(min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media(min-width: 1024px) {
  .wrapper {
    margin: 0 30px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    margin: 0 40px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    margin: 0 50px;
  }
}

@media (min-width: 1680px) {
  .wrapper {
    margin: 0 60px;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    margin: 0 80px;
  }
}

@media (min-width: 2100px) {
  .wrapper {
    max-width: 1990px;
    margin: 0 auto;
  }
}

a {
  outline: none;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}