@mixin hover-link {
  transition: .1s;
  color: var(--primary);
}

@mixin input-hover {
  border: 1px solid var(--primary);
  transition: .1s;
}

@mixin input-focus {
  outline-color: var(--primary);
  border-color: var(--primary);
}

@mixin hover-btn {
  background-color: var(--dark);
  transition: .2s;
}

@mixin hover-btn-grey {
  background-color: var(--dark);
  color: var(--white);
  transition: .2s;
}

@mixin hover-banner-btn {
  background-color: var(--primary);
  color: var(--white);
  transition: .2s;
}