:root {
  --primary: #d8315b;
  --secondary: #ffe044;
  --ternary: #88ff80;
  --light-secondary: #fffb6c;
  --light-ternary: #a4ff9e;
  --dark: #2c302e;
  --white: #ffffff;
  --light-grey: #e1e4e8;
  --dark-grey: #ccd0d4;
  --error: #d8315b;
  --dark-rgb: 44,48,46;
}